body {
	background-color: #1d1d1d;
}

.card {
	margin: 2rem auto;
	width: 50%;
}

@media (max-width: 499px) {
	.card {
		width: 100%;
	}
}

@media (min-width: 500px) and (max-width: 749px) {
	.card {
		width: 70%;
	}
}
